
DOKU/tex/Requirements_Nils/req_makros.tex
.vscode/*
DOKU/tex/First_Specification/*
DOKU/tex/Requirements_Nils/*
DOKU/tex/Old/*

*.aux
*.fdb_latexmk
*.fls
*.log
*.gz

*.bak
*.tlog
*.tlog
*.pdb
*.idb
*.opendb
*.db